@model IEnumerable<SistemaPedidos.WEB.Models.ClienteViewModel>

<div class="container p-4 border mt-5">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Lista de Clientes</h1>
        </div>
        <div class="col text-end pt-1">
            <a class="btn btn-outline-primary" asp-action="CadastrarCliente" asp-controller="Cliente">
                <i class="fas fa-plus"></i> Cadastrar Cliente
            </a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Ativo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nome</td>
                        <td><i class="fa @(item.Ativo ? "fa-check text-success" : "fa fa-times text-danger")"> </i></td>
                        <td>
                            <a asp-action="AtualizarCliente" class="btn btn-success" asp-route-id="@item.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>